---
title: Home
layout: default2
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">코파일럿 에이전톤 인 서울 2025</h1>
      <p class="lead mb-4">서울에서 펼쳐지는 AI 에이전트의 향연, 당신의 상상력이 코파일럿에 날개를 달아 줍니다!</p>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">행사개요</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="600" src="{{site.baseurl}}/assets/images/image02.png">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

